.detail{
border-top:  groove; 
position: relative;
text-align: center;
padding-top: 20px;
}

h2{
color: rgba(2, 68, 85, 0.767);
font-style: italic;
text-decoration: underline;
}

h3{
font-style: italic;
color: rgba(2, 37, 46, 0.767);
} 

h4{
font-style: italic;   
}

.col2{
background-color: whitesmoke;   
margin: 20px;
padding: 20px;
}

img:hover {
transform: scale(1.1, 1.1); 
}