.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fotos{
  animation-name: imagenes;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  height: 1500px;
  background-position: center;
  background-size:cover;
}

@keyframes imagenes {
  0% {
    background-image: url(./img/Entrega.png); }
  25% {
    background-image: url(./img/Entrada.png); }
  50% {
    background-image: url(./img/Vaso.png); }
  75% {
    background-image: url(./img/Max.png); }
  100% {
    background-image: url(./img/Cafecito.png); } }

    footer {
      background-color: rgba(2, 68, 85, 0.767);
      display: flex;
      color: whitesmoke;
      font-size: 11px;
      align-items: flex-end;
      justify-content: space-between;
      padding-right: 2%; }
